# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules

# next.js
frontend/.next/
frontend/out/
frontend/node_modules/
# production
frontend/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE/OS
.DS_Store
.vscode/
.idea/

.mongodata
.venv/
__pycache__/
*.pyc

# Alermbic scripts
backend/app/alembic/versions
backend/django_project/db.sqlite3


