pydantic
psycopg2-binary
celery[redis]
redis
playwright
beautifulsoup4
requests
stem
structlog
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-celery
python-dotenv
motor
stripe
PyYAML==6.0

#testes
pytest-asyncio
pydantic_settings

# Django migration
django
djangorestframework
djangorestframework-simplejwt
